@use "./assets/styles/variables" as *;
@import "normalize.css";
@import "./assets/styles/navBar";
@import "./assets/styles/banner";
@import "./assets/styles/about";
@import "./assets/styles/skills";
@import "./assets/styles/projectsList";
@import "./assets/styles/projectItem";
@import "./assets/styles/projectItemDetails";
@import "./assets/styles/contact";
@import "./assets/styles/footer";

@font-face {
  font-family: Lexend Deca;
  src: url("../src/assets/font/LexendDeca-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #dedede;
  background-color: #202020;
  font-size: $default-font-size;
  font-family: "Lexend Deca", sans-serif !important;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 1.5rem;

  @media screen and (max-width: 767px) {
    display: none;
  }

}

::-webkit-scrollbar-track {
  background-color: #dedede;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  height: 20vh;
  background-color: #202020;
  border-radius: 1.5rem;
  border: 2px solid #dedede;
}

.common__heading {
  font-size: $header-part-font-size;
  text-align: center;
  margin-bottom: 6%;
}
.common__card {
  height: 100%;
  background-color: #2c2c2c;
  border-radius: 2.5rem;
}
