@use "./assets/styles/variables" as *;

@import "normalize.css";

@import "./assets/styles/navBar";
@import "./assets/styles/featureBtn";
@import "./assets/styles/banner";
@import "./assets/styles/about";
@import "./assets/styles/skills";
@import "./assets/styles/projectsList";
@import "./assets/styles/projectItem";
@import "./assets/styles/projectItemDetails";
@import "./assets/styles/contact";
@import "./assets/styles/footer";

@font-face {
  font-family: Lexend Deca;
  src: url("../src/assets/font/LexendDeca-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow: overlay; //prevent flicker on navbar when showimg modal
}

.App {
  color: $light-color;
  background-color: $dark-color;
  font-size: $default-font-size;
  font-family: "Lexend Deca", sans-serif !important;
  transition: color 0.7s, background-color 0.7s;
}

.App.light {
  color: $dark-color;
  background-color: #fefefe;
}

//customize selection text
::selection {
  background: #000;
}

.light ::selection {
  background: $light-color;
}

//customize scrollbar
::-webkit-scrollbar {
  width: 1.5rem;

  @media screen and (max-width: $max-width-small) {
    display: none;
  }
}

::-webkit-scrollbar-track {
  background-color: $light-color;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  height: 20vh;
  background-color: $dark-color;
  border-radius: 1.5rem;
  border: 2px solid $light-color;
}

//common class
.common__heading {
  font-size: $header-part-font-size;
  text-align: center;
  margin-bottom: 6%;

  @media (max-width: $max-width-small) {
    font-size: $header-part-font-size-mobile;
    margin-bottom: 10%;
  }
}

.common__card {
  height: 100%;
  background-color: $dark-primary-color;
  border-radius: 2.5rem;
}

.light .common__card {
  background-color: #f0f0f0;
}

.common__btn {
  text-align: center;
  text-decoration: none;
  color: $light-color;
  background-color: $btn-color;
  font-size: $button-font-size;
  transition: all 0.2s linear;
  border: none;
  border-radius: 1.5rem;

  &:hover {
    color: #fff;
    background-color: #000;
    opacity: 0.8;
  }
}

//set style for input autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
}
