@use "./variables" as *;

.banner {
  padding-top: 18vh;
  font-size: 2rem;

  &__heading {
    font-size: 6.4rem;
    margin-bottom: 7%;
  }

  &__spec {
    font-size: 2.4rem;
    color: #959595;
  }

  &__avatar {
    position: relative;
    border-radius: 50%;
  }

  @media (min-width: 768px) {
    &__shape {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        max-width: 400px;
        width: 100%;
        height: 100%;
        background-color: #dedede;
        left: 20%;
        border: 1px solid #dedede;
        border-radius: 50%;
        opacity: 90%;
      }
    }
  }
}
