.contact {
  padding-top: $section-padding-top;

  &__spec {
    font-size: 2rem;
    color: $light-color;
    text-align: center;
  }

  &__spec.light {
    color: #646464;
  }

  &__mail-btn {
    width: 100%;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__mail-icon {
    vertical-align: top;
    font-size: $icon-font-size;
    width: 50px;
  }

  &__img {
    width: 78%;
    filter: grayscale(1);
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__toast-msg {
    width: 100%;
    background-color: $btn-color;
    border-radius: 10px;
  }

  &__toast-msg-header {
    font-size: 1.7rem;
    color: $light-color;
    background-color: $btn-color;
    border-radius: 10px;

    button {
      filter: invert(100%);
    }
  }

  .form {
    &__input {
      font-size: 1.8rem;
      border-radius: 10px;
      border: none;

      &:focus {
        border: none;
      }
    }
  }
}
