.footer {
  margin-top: 11.5%;
  border-top: 2px solid #696969;

  &__copyRight p {
    line-height: 5rem;
    font-size: 2rem;
    margin: 0;
  }

  &__buttonGroup a {
    font-size: $icon-font-size;
    color: $light-color;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
}
