@use "./variables" as *;

.navbar {
  background-color: rgb(50, 50, 50, 0.5);
  transition: all 0.2s ease;

  &--bgColorSolid {
    background-color: rgb(50, 50, 50);
  }

  &__brand {
    color: $text-light-color;
  }

  &__link {
    position: relative;
    margin-left: 5%;
    color: $text-light-color;
    font-size: 2rem;
    line-height: 7rem;
    transition: all linear 0.2s;

    &::after {
      position: absolute;
      background-color: $text-light-color;
      bottom: 0;
      left: 50%;
      content: "";
      height: 5px;
      width: 0%;
      transition: all linear 0.2s;
    }

    &:hover {
      color: $text-light-color !important;
      opacity: 0.8;
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }

  &__link--active {
    color: $text-light-color;

    &::after {
      background-color: red;
      width: 100%;
      left: 0;
    }
  }

  &__button {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }

  &__icon {
    color: $text-light-color;
    font-size: $icon-font-size;
  }

  &__link.active {
    color: #fff !important;
  }
}
