.navbar {
  background-color: rgb(50, 50, 50, 0.5);
  transition: all 0.2s ease;

  &--bgColorSolid {
    background-color: rgb(50, 50, 50); // change background-color when sroll
  }

  &__brand {
    @media only screen and (max-width: 767px) {
      & svg {
        width: 75%;
        margin-left: 4px;
      }
    }
  }

  &__link {
    position: relative;
    margin-left: 5%;
    color: $light-color;
    font-size: 2rem;
    line-height: $navbar-heigth;
    transition: all linear 0.2s;
    text-decoration: none;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    @media only screen and (max-width: 767px) {
      font-size: 1.8rem;
      margin-left: 7%;
      line-height: 65px;
    }

    &::after {
      position: absolute;
      background-color: $light-color;
      bottom: 0;
      left: 50%;
      content: "";
      height: 5px;
      width: 0%;
      transition: all linear 0.2s;
    }

    &:hover {
      color: $light-color !important;
      opacity: 0.8;
      &::after {
        width: 100%;
        left: 0;
      }
    }
  }

  &__theme-btn {
    margin-left: 5%;
    color: $light-color;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    @media only screen and (max-width: 767px) {
      margin-left: 7%;
    }
  }

  &__button {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }

  &__icon {
    color: $light-color;
    font-size: $icon-font-size;
  }

  .active {
    color: #fff !important;
  }
}

.light .navbar {
  background-color: rgba(235, 235, 235, 0.6);

  &--bgColorSolid {
    background-color: rgb(235, 235, 235); // change background-color when sroll
  }

  &__brand {
    filter: invert(1);
  }

  &__link {
    color: $dark-color;

    &::after {
      background-color: $dark-color;
    }

    &:hover {
      color: $dark-color !important;
    }
  }

  &__theme-btn {
    color: $dark-color;
  }

  &__icon {
    color: $dark-color;
  }

  .active {
    color: rgb(100, 100, 100) !important;
  }
}
