@use "./variables" as *;

.project-item {
    &__heading {
        text-align: center;
        font-size: 1.8rem;
    }
    &__img {
        width: 100%;
        border-radius: 1.5rem;
        object-fit: fill;
    }
}
