.project-item-details {
  color: $light-color;

  &__img {
    width: 100%;
    border-radius: 1.5rem;
    object-fit: fill;
  }

  &__details {
    height: 100%;
  }

  .project__heading {
    font-size: $header-project-font-size;
  }

  .project__specs {
    text-align: justify;
    font-size: $default-font-size;
  }

  &__btnGroup {
    display: flex;
    justify-content: space-between;
  }

  &__gitBtn {
    display: inline-block;
    padding: 10px 10px 10px 0;
    min-width: 160px;
    width: 25%;
    margin-right: 5%;
  }

  &__gitIcon {
    vertical-align: top;
    font-size: $icon-font-size;
    width: 50px;
  }

  &__demoBtn {
    width: 15%;
    text-align: right;
    text-decoration: none;
    color: $light-color;
    display: inline-block;
    font-size: 3.3rem;
    background-color: transparent;
    transition: all 0.2s linear;

    &:hover {
      color: #000;
      opacity: 0.8;
    }
  }
}
