.project-item {
    &__heading {
        text-align: center;
        font-size: 2rem;
    }
    &__img {
        width: 100%;
        border-radius: 1.5rem;
        object-fit: fill;
        filter: grayscale(1);
        transition: all 0.3s ease;

        &:hover {
            filter: grayscale(0);
        }
    }
}

.modal {
    &__content {
        border-radius: 30px;
        background-color: transparent;
        border: none;
    }

    &__close-btn {
        font-size: 2.5rem;
        position: absolute;
        top: 12px;
        right: 12px;
        border-radius: 15px;
        color: $light-color;
        transition: all 0.2s ease;

        &:hover {
            background-color: #181818;
        }
    }

    @media screen and (max-width: 991px) {
        &__close-btn {
            font-size: 3rem;
            top: 20px;
            right: 20px;
            background-color: #181818;
        }
    }
}
