.project-item {
    cursor: pointer;
    &__heading {
        text-align: center;
        font-size: 2rem;
    }

    &__img {
        width: 100%;
        border-radius: 1.5rem;
        object-fit: fill;
        filter: grayscale(1);
        transition: all 0.3s ease;
    }

    &:hover {
        .project-item__img {
            filter: grayscale(0);
        }
    }
}

.modal {
    &__content {
        border-radius: 30px;
        background-color: transparent;
        border: none;
    }

    &__close-btn {
        font-size: 2.5rem;
        position: absolute;
        top: 12px;
        right: 12px;
        border-radius: 15px;
        color: $light-color;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background-color: #181818;
        }
    }

    .light &__close-btn {
        color: #646464;
    }

    @media screen and (max-width: $max-width-medium) {
        &__close-btn {
            font-size: 3rem;
            top: 20px;
            right: 20px;
            background-color: #181818;
        }

        .light &__close-btn {
            color: $light-color;
        }
    }
}
