@use "./variables" as *;

.projects {
  padding-top: 18vh;

  &__year {
    display: block;
    font-size: $year-font-size;
    color: #dedede;
  }

  &__breakLine {
    width: 100%;
    background-color: #dedede;
    height: 5px;
  }
}
