.experiences {
  padding-top: $section-padding-top;

  .projects-list {
    margin-bottom: 5%;

    &__year {
      display: block;
      font-size: $year-font-size;
      color: $light-color;
    }

    &__year.light {
      color: $dark-color;
    }

    &__break-line {
      width: 100%;
      background-color: $light-color;
      height: 5px;
    }

    &__break-line.light {
      background-color: $dark-color;
    }
  }

  .projects-list:last-child {
    margin-bottom: 0;
  }
}

@mixin slider-arrow-btn {
  position: absolute;
  z-index: 1;
  top: 42%;
  transform: translateY(-50%);
  color: $light-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 2.5rem;
  background-color: $dark-primary-color;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #000;
  }

  &[disabled] {
    cursor: auto;
    opacity: 0.6;

    &:hover {
      background-color: #272727;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

@mixin slider-arrow-btn-light {
  color: $dark-color;
  background-color: #f0f0f0;
  &:hover {
    background-color: #cecece;
  }
}

.slider-arrow-btn {
  &__next {
    @include slider-arrow-btn();
    right: -25px;
  }

  &__next.light {
    @include slider-arrow-btn-light();
  }

  &__prev {
    @include slider-arrow-btn();
    left: -25px;
  }

  &__prev.light {
    @include slider-arrow-btn-light();
  }
}

.slider-arrow-btn__icon {
  &--next {
    transform: translate(1px, -2px);
  }

  &--prev {
    transform: translate(-1px, -2px);
  }
}

.swiper-pagination {
  &-style {
    text-align: center;
    margin-top: 0.6rem;
  }

  &-bullet {
    display: inline-block;
    background-color: #7c7c7c;
    transition: all 0.2s ease;

    &-active {
      width: 15px;
      border-radius: 5px;
    }
  }
}
