.skills {
  padding-top: $section-padding-top;

  &__item {
    padding: 2rem 1.5rem;
    text-align: center;
    filter: grayscale(1);
    transition: all 0.3s ease;
    &:hover {
      filter: grayscale(0);
    }
  }

  & img {
    width: 40%;
  }

  @media only screen and (max-width: $max-width-small) {
    font-size: 1.5rem;

    & img {
      width: 50%;
    }
  }
}
