
//color variable
$text-light-color: #dedede;
$text-dark-color: #202020;

//size variable
$navbar-heigth: 86px;
$default-font-size: 1.8rem;
$icon-font-size: 3rem;
$button-font-size: 2rem;
$header-project-font-size: 2.6rem;
$year-font-size: 2.8rem;
$header-part-font-size: 3.6rem;
