//color variable
$btn-color: #161919;
$dark-primary-color: #2c2c2c;
$light-color: #dedede;
$dark-color: #202020;
$section-padding-top: 13.2%;
@media only screen and (max-width: 767px) {
    $section-padding-top: 22%;
    #about,
    #skills,
    #experiences,
    #contact {
        padding-top: $section-padding-top;
    }
}

//size variable
$navbar-heigth: 86px;
$default-font-size: 1.8rem;
$icon-font-size: 3rem;
$button-font-size: 2rem;
$header-project-font-size: 2.6rem;
$year-font-size: 2.8rem;
$header-part-font-size: 3.6rem;
$header-part-font-size-mobile: 3.2rem;
